$if$ ($useXrmToolingClientUsing$ == 1)<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="CRMConnectionString" connectionString="Url=https://contoso.crm.dynamics.com; Username=crmadmin@contoso.onmicrosoft.com; Password=password; AuthType=Office365;" />

    <!-- On-premises with provided user credentials -->
    <!-- <add name="CRMConnectionString"
         connectionString="Url=http://myserver/contoso; Domain=mydomain; Username=administrator; Password=password; AuthType=AD;"/> -->

    <!-- On-premises using Windows integrated security -->
    <!-- <add name="CRMConnectionString"
         connectionString="Url=http://myserver/contoso; authtype=AD;"/> -->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=https://hostname.contoso.com/orgname; Domain=mydomain; Username=mydomain\administrator; Password=password; AuthType=IFD;"/>-->

    <!-- OAuth -->
    <!--<add name="CRMConnectionString"
	      connectionString="Url=https://contoso.crm.dynamics.com; Username=crmadmin@contoso.onmicrosoft.com; Password=password; AppId=<GUID>; RedirectUri=app://<GUID>; AuthType=OAuth;"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v$targetframeworkversion$" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchName="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="fileListener" />
        </listeners>
      </source>
      <source name="Microsoft.Xrm.Tooling.CrmConnectControl" switchName="Microsoft.Xrm.Tooling.CrmConnectControl" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="fileListener" />
        </listeners>
      </source>
      <source name="CrmSvcUtil" switchName="CrmSvcUtil" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="fileListener" />
        </listeners>
      </source>
    </sources>
    <switches>

      <!--Possible values for switches: Off, Error, Warning, Information, Verbose
						Verbose:      includes Error, Warning, Info, Trace levels
						Information:  includes Error, Warning, Info levels
						Warning:      includes Error, Warning levels
						Error:        includes Error level-->

      <add name="Microsoft.Xrm.Tooling.CrmConnectControl" value="Off" />
      <add name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" value="Error" />
      <add name="CrmSvcUtil" value="Off" />
    </switches>

    <sharedListeners>
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CrmSvcUtil.log" />
    </sharedListeners>
  </system.diagnostics>
</configuration>$else$<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="CRMConnectionString" connectionString="Url=https://contoso.crm.dynamics.com; Username=crmadmin@contoso.onmicrosoft.com; Password=password;"/>

    <!-- On-premises with provided user credentials -->
    <!-- <add name="CRMConnectionString"
         connectionString="Url=http://myserver/contoso; Domain=mydomain; Username=administrator; Password=password;"/> -->

    <!-- On-premises using Windows integrated security -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=http://myserver/contoso;"/>-->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=https://hostname.contoso.com; Username=crmadmin@contoso.com; Password=password;"/>-->
  </connectionStrings>
</configuration>$endif$
